# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Data files (optional later)
*.sqlite

# Frontend
frontend/node_modules/
frontend/dist/
